# Cleaning the datasets

## 2018 airline delay and cancellation data

### Load libraries

In [1]:
import pandas as pd
import sys
sys.path.insert(0, '..')
import functions 
import yaml
pd.set_option('display.max_columns', None)

In [2]:
try:
    with open("..\config.yaml", "r") as file:
        config = yaml.safe_load(file)
except Exception as e:
    print("Error reading the config file", e)

### Loading data

In [3]:
flights = pd.read_csv(config["data"]["raw1"])
flights.head()

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 27
0,2018-01-01,UA,2429,EWR,DEN,1517,1512.0,-5.0,15.0,1527.0,1712.0,10.0,1745,1722.0,-23.0,0.0,NaN,0.0,268.0,250.0,225.0,1605.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-01-01,UA,2427,LAS,SFO,1115,1107.0,-8.0,11.0,1118.0,1223.0,7.0,1254,1230.0,-24.0,0.0,NaN,0.0,99.0,83.0,65.0,414.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-01-01,UA,2426,SNA,DEN,1335,1330.0,-5.0,15.0,1345.0,1631.0,5.0,1649,1636.0,-13.0,0.0,NaN,0.0,134.0,126.0,106.0,846.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-01-01,UA,2425,RSW,ORD,1546,1552.0,6.0,19.0,1611.0,1748.0,6.0,1756,1754.0,-2.0,0.0,NaN,0.0,190.0,182.0,157.0,1120.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-01-01,UA,2424,ORD,ALB,630,650.0,20.0,13.0,703.0,926.0,10.0,922,936.0,14.0,0.0,NaN,0.0,112.0,106.0,83.0,723.0,NaN,NaN,NaN,NaN,NaN,NaN

### Standardize column names

In [4]:
flights = functions.standardize_column_names(flights)
flights

,fl_date,op_carrier,op_carrier_fl_num,origin,dest,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,cancellation_code,diverted,crs_elapsed_time,actual_elapsed_time,air_time,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,unnamed:_27
0,2018-01-01,UA,2429,EWR,DEN,1517,1512.0,-5.0,15.0,1527.0,1712.0,10.0,1745,1722.0,-23.0,0.0,NaN,0.0,268.0,250.0,225.0,1605.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-01-01,UA,2427,LAS,SFO,1115,1107.0,-8.0,11.0,1118.0,1223.0,7.0,1254,1230.0,-24.0,0.0,NaN,0.0,99.0,83.0,65.0,414.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-01-01,UA,2426,SNA,DEN,1335,1330.0,-5.0,15.0,1345.0,1631.0,5.0,1649,1636.0,-13.0,0.0,NaN,0.0,134.0,126.0,106.0,846.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-01-01,UA,2425,RSW,ORD,1546,1552.0,6.0,19.0,1611.0,1748.0,6.0,1756,1754.0,-2.0,0.0,NaN,0.0,190.0,182.0,157.0,1120.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-01-01,UA,2424,ORD,ALB,630,650.0,20.0,13.0,703.0,926.0,10.0,922,936.0,14.0,0.0,NaN,0.0,112.0,106.0,83.0,723.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7213441,2018-12-31,AA,1815,DCA,CLT,1534,1530.0,-4.0,20.0,1550.0,1702.0,7.0,1714,1709.0,-5.0,0.0,NaN,0.0,100.0,99.0,72.0,331.0,NaN,NaN,NaN,NaN,NaN,NaN
7213442,2018-12-31,AA,1816,CLT,DFW,1751,1757.0,6.0,18.0,1815.0,1943.0,10.0,1952,1953.0,1.0,0.0,NaN,0.0,181.0,176.0,148.0,936.0,NaN,NaN,NaN,NaN,NaN,NaN
7213443,2018-12-31,AA,1817,CLT,MEM,2015,2010.0,-5.0,36.0,2046.0,2114.0,4.0,2107,2118.0,11.0,0.0,NaN,0.0,112.0,128.0,88.0,511.0,NaN,NaN,NaN,NaN,NaN,NaN
7213444,2018-12-31,AA,1818,CLT,RDU,1300,1323.0,23.0,11.0,1334.0,1400.0,4.0,1350,1404.0,14.0,0.0,NaN,0.0,50.0,41.0,26.0,130.0,NaN,NaN,NaN,NaN,NaN,NaN
7213445,2018-12-31,AA,1818,RDU,CLT,1435,1443.0,8.0,8.0,1451.0,1535.0,7.0,1546,1542.0,-4.0,0.0,NaN,0.0,71.0,59.0,44.0,130.0,NaN,NaN,NaN,NaN,NaN,NaN

### Remove columns

Remove the following columns based on the aim of the project and their data:
 - carrier_delay: not relevant for the analysis
 - weather_delay: not relevant for the analysis
 - nas_delay: not relevant for the analysis
 - security_delay: not relevant for the analysis
 - later_aircraft_delay: not relevant for the analysis
 - unnamed:_27: empty

In [5]:
flights = flights.drop(['carrier_delay', 'weather_delay', 'nas_delay', 'security_delay', 'late_aircraft_delay', 'unnamed:_27'], 
                       axis=1)
flights.head()

,fl_date,op_carrier,op_carrier_fl_num,origin,dest,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,cancellation_code,diverted,crs_elapsed_time,actual_elapsed_time,air_time,distance
0,2018-01-01,UA,2429,EWR,DEN,1517,1512.0,-5.0,15.0,1527.0,1712.0,10.0,1745,1722.0,-23.0,0.0,NaN,0.0,268.0,250.0,225.0,1605.0
1,2018-01-01,UA,2427,LAS,SFO,1115,1107.0,-8.0,11.0,1118.0,1223.0,7.0,1254,1230.0,-24.0,0.0,NaN,0.0,99.0,83.0,65.0,414.0
2,2018-01-01,UA,2426,SNA,DEN,1335,1330.0,-5.0,15.0,1345.0,1631.0,5.0,1649,1636.0,-13.0,0.0,NaN,0.0,134.0,126.0,106.0,846.0
3,2018-01-01,UA,2425,RSW,ORD,1546,1552.0,6.0,19.0,1611.0,1748.0,6.0,1756,1754.0,-2.0,0.0,NaN,0.0,190.0,182.0,157.0,1120.0
4,2018-01-01,UA,2424,ORD,ALB,630,650.0,20.0,13.0,703.0,926.0,10.0,922,936.0,14.0,0.0,NaN,0.0,112.0,106.0,83.0,723.0

### Format columns

In [6]:
flights.dtypes

fl_date                 object
op_carrier              object
op_carrier_fl_num        int64
origin                  object
dest                    object
crs_dep_time             int64
dep_time               float64
dep_delay              float64
taxi_out               float64
wheels_off             float64
wheels_on              float64
taxi_in                float64
crs_arr_time             int64
arr_time               float64
arr_delay              float64
cancelled              float64
cancellation_code       object
diverted               float64
crs_elapsed_time       float64
actual_elapsed_time    float64
air_time               float64
distance               float64
dtype: object

#### Format date columns

In [7]:
flights['fl_date'] = pd.to_datetime(flights['fl_date'], errors='coerce')
flights.dtypes

fl_date                datetime64[ns]
op_carrier                     object
op_carrier_fl_num               int64
origin                         object
dest                           object
crs_dep_time                    int64
dep_time                      float64
dep_delay                     float64
taxi_out                      float64
wheels_off                    float64
wheels_on                     float64
taxi_in                       float64
crs_arr_time                    int64
arr_time                      float64
arr_delay                     float64
cancelled                     float64
cancellation_code              object
diverted                      float64
crs_elapsed_time              float64
actual_elapsed_time           float64
air_time                      float64
distance                      float64
dtype: object

#### Format time columns

In [8]:
flights = functions.time_columns_standardize(flights,'crs_dep_time')
flights = functions.time_columns_standardize(flights,'dep_time')
flights = functions.time_columns_standardize(flights,'wheels_off')
flights = functions.time_columns_standardize(flights,'wheels_on')
flights = functions.time_columns_standardize(flights,'crs_arr_time')
flights = functions.time_columns_standardize(flights,'arr_time')
flights.head()

,fl_date,op_carrier,op_carrier_fl_num,origin,dest,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,cancellation_code,diverted,crs_elapsed_time,actual_elapsed_time,air_time,distance
0,2018-01-01,UA,2429,EWR,DEN,15:17:00,15:12:00,-5.0,15.0,15:27:00,17:12:00,10.0,17:45:00,17:22:00,-23.0,0.0,NaN,0.0,268.0,250.0,225.0,1605.0
1,2018-01-01,UA,2427,LAS,SFO,11:15:00,11:07:00,-8.0,11.0,11:18:00,12:23:00,7.0,12:54:00,12:30:00,-24.0,0.0,NaN,0.0,99.0,83.0,65.0,414.0
2,2018-01-01,UA,2426,SNA,DEN,13:35:00,13:30:00,-5.0,15.0,13:45:00,16:31:00,5.0,16:49:00,16:36:00,-13.0,0.0,NaN,0.0,134.0,126.0,106.0,846.0
3,2018-01-01,UA,2425,RSW,ORD,15:46:00,15:52:00,6.0,19.0,16:11:00,17:48:00,6.0,17:56:00,17:54:00,-2.0,0.0,NaN,0.0,190.0,182.0,157.0,1120.0
4,2018-01-01,UA,2424,ORD,ALB,06:30:00,06:50:00,20.0,13.0,07:03:00,09:26:00,10.0,09:22:00,09:36:00,14.0,0.0,NaN,0.0,112.0,106.0,83.0,723.0

In [9]:
flights.isnull().sum()

fl_date                      0
op_carrier                   0
op_carrier_fl_num            0
origin                       0
dest                         0
crs_dep_time                 0
dep_time                112948
dep_delay               117234
taxi_out                115830
wheels_off              116753
wheels_on               121622
taxi_in                 119246
crs_arr_time                91
arr_time                122709
arr_delay               137040
cancelled                    0
cancellation_code      7096862
diverted                     0
crs_elapsed_time            10
actual_elapsed_time     134442
air_time                134442
distance                     0
dtype: int64

In [10]:
flights.isnull().sum()/len(flights)

fl_date                0.000000
op_carrier             0.000000
op_carrier_fl_num      0.000000
origin                 0.000000
dest                   0.000000
crs_dep_time           0.000000
dep_time               0.015658
dep_delay              0.016252
taxi_out               0.016058
wheels_off             0.016185
wheels_on              0.016860
taxi_in                0.016531
crs_arr_time           0.000013
arr_time               0.017011
arr_delay              0.018998
cancelled              0.000000
cancellation_code      0.983838
diverted               0.000000
crs_elapsed_time       0.000001
actual_elapsed_time    0.018638
air_time               0.018638
distance               0.000000
dtype: float64

In [11]:
flights['cancellation_code'].value_counts()

cancellation_code
B    61984
A    29484
C    25072
D       44
Name: count, dtype: int64

There are null values in some of the columns that will be used to answer the questions. The percentage of them in the columns is smaller than 2% in all of them, except in 'cancellation_code'. They will not be replaced, nor the row will be eliminated, because the values of the other columns that belong to the same row might be useful. In the case of 'cancellation_code', 98% of missing values is normal because they belong to the rows of flights that have been delayed, and there are more delays than cancellations. The missing values can be replaced by 0 to point that that flight hadn't been cancelled.

In [12]:
flights['cancellation_code'] = flights['cancellation_code'].fillna(0)
flights.head()

,fl_date,op_carrier,op_carrier_fl_num,origin,dest,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,cancellation_code,diverted,crs_elapsed_time,actual_elapsed_time,air_time,distance
0,2018-01-01,UA,2429,EWR,DEN,15:17:00,15:12:00,-5.0,15.0,15:27:00,17:12:00,10.0,17:45:00,17:22:00,-23.0,0.0,0,0.0,268.0,250.0,225.0,1605.0
1,2018-01-01,UA,2427,LAS,SFO,11:15:00,11:07:00,-8.0,11.0,11:18:00,12:23:00,7.0,12:54:00,12:30:00,-24.0,0.0,0,0.0,99.0,83.0,65.0,414.0
2,2018-01-01,UA,2426,SNA,DEN,13:35:00,13:30:00,-5.0,15.0,13:45:00,16:31:00,5.0,16:49:00,16:36:00,-13.0,0.0,0,0.0,134.0,126.0,106.0,846.0
3,2018-01-01,UA,2425,RSW,ORD,15:46:00,15:52:00,6.0,19.0,16:11:00,17:48:00,6.0,17:56:00,17:54:00,-2.0,0.0,0,0.0,190.0,182.0,157.0,1120.0
4,2018-01-01,UA,2424,ORD,ALB,06:30:00,06:50:00,20.0,13.0,07:03:00,09:26:00,10.0,09:22:00,09:36:00,14.0,0.0,0,0.0,112.0,106.0,83.0,723.0

### Save clean dataset to csv

In [13]:
flights.to_csv(config["data"]["clean4"], index=False)

## Airline data

### Loading data

In [14]:
airlines = pd.read_csv(config["data"]["raw2"])
airlines.head()

  IATA_CODE                 AIRLINE
0        UA   United Air Lines Inc.
1        AA  American Airlines Inc.
2        US         US Airways Inc.
3        F9  Frontier Airlines Inc.
4        B6         JetBlue Airways

### Standardize column names

In [15]:
airlines = functions.standardize_column_names(airlines)
airlines.head()

  iata_code                 airline
0        UA   United Air Lines Inc.
1        AA  American Airlines Inc.
2        US         US Airways Inc.
3        F9  Frontier Airlines Inc.
4        B6         JetBlue Airways

In [16]:
airlines.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   iata_code  14 non-null     object
 1   airline    14 non-null     object
dtypes: object(2)
memory usage: 352.0+ bytes

There are no null values and the dataset doesn't need more cleaning. All the columns are relevant for the aim of the project.

### Save clean dataset to csv

In [17]:
airlines.to_csv(config["data"]["clean2"],index=False)

## Airport data

### Loading data

In [18]:
airports = pd.read_csv(config["data"]["raw3"])
airports.head()

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447

### Standardize column names

In [19]:
airports = functions.standardize_column_names(airports)
airports.head()

,iata_code,airport,city,state,country,latitude,longitude
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447

In [20]:
airports.rename(columns={'iata_code':'airport_iata_code'},inplace=True)
airports

,airport_iata_code,airport,city,state,country,latitude,longitude
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447
...,...,...,...,...,...,...,...
317,WRG,Wrangell Airport,Wrangell,AK,USA,56.48433,-132.36982
318,WYS,Westerly State Airport,West Yellowstone,MT,USA,44.68840,-111.11764
319,XNA,Northwest Arkansas Regional Airport,Fayetteville/Springdale/Rogers,AR,USA,36.28187,-94.30681
320,YAK,Yakutat Airport,Yakutat,AK,USA,59.50336,-139.66023
321,YUM,Yuma International Airport,Yuma,AZ,USA,32.65658,-114.60597

In [21]:
airports.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322 entries, 0 to 321
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   airport_iata_code  322 non-null    object
 1   airport            322 non-null    object
 2   city               322 non-null    object
 3   state              322 non-null    object
 4   country            322 non-null    object
 5   latitude           319 non-null    float64
 6   longitude          319 non-null    float64
dtypes: float64(2), object(5)
memory usage: 17.7+ KB

### Save clean dataset to csv

In [22]:
airports.to_csv(config["data"]["clean3"],index=False)

## Merge the clean dataframes

### Merge 2018 airline delay and cancellation data with airline data

After merging the dataframes, the second column with duplicated values is dropped, and the order of the columns is altered so that the airline data is next to the op_carrier column (airline code)

In [23]:
flights_airlines = pd.merge(flights, airlines, how='left',left_on='op_carrier', right_on='iata_code')
flights_airlines.drop('iata_code', axis=1, inplace=True)
cols = ['fl_date', 'op_carrier', 'airline', 'op_carrier_fl_num', 'origin', 'dest', 'crs_dep_time', 'dep_time', 'dep_delay', 
        'taxi_out', 'wheels_off', 'wheels_on', 'taxi_in', 'crs_arr_time', 'arr_time', 'arr_delay', 'cancelled', 
        'cancellation_code', 'diverted', 'crs_elapsed_time', 'actual_elapsed_time', 'air_time', 'distance']
flights_airlines = flights_airlines[cols]
flights_airlines

,fl_date,op_carrier,airline,op_carrier_fl_num,origin,dest,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,cancellation_code,diverted,crs_elapsed_time,actual_elapsed_time,air_time,distance
0,2018-01-01,UA,United Air Lines Inc.,2429,EWR,DEN,15:17:00,15:12:00,-5.0,15.0,15:27:00,17:12:00,10.0,17:45:00,17:22:00,-23.0,0.0,0,0.0,268.0,250.0,225.0,1605.0
1,2018-01-01,UA,United Air Lines Inc.,2427,LAS,SFO,11:15:00,11:07:00,-8.0,11.0,11:18:00,12:23:00,7.0,12:54:00,12:30:00,-24.0,0.0,0,0.0,99.0,83.0,65.0,414.0
2,2018-01-01,UA,United Air Lines Inc.,2426,SNA,DEN,13:35:00,13:30:00,-5.0,15.0,13:45:00,16:31:00,5.0,16:49:00,16:36:00,-13.0,0.0,0,0.0,134.0,126.0,106.0,846.0
3,2018-01-01,UA,United Air Lines Inc.,2425,RSW,ORD,15:46:00,15:52:00,6.0,19.0,16:11:00,17:48:00,6.0,17:56:00,17:54:00,-2.0,0.0,0,0.0,190.0,182.0,157.0,1120.0
4,2018-01-01,UA,United Air Lines Inc.,2424,ORD,ALB,06:30:00,06:50:00,20.0,13.0,07:03:00,09:26:00,10.0,09:22:00,09:36:00,14.0,0.0,0,0.0,112.0,106.0,83.0,723.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7213441,2018-12-31,AA,American Airlines Inc.,1815,DCA,CLT,15:34:00,15:30:00,-4.0,20.0,15:50:00,17:02:00,7.0,17:14:00,17:09:00,-5.0,0.0,0,0.0,100.0,99.0,72.0,331.0
7213442,2018-12-31,AA,American Airlines Inc.,1816,CLT,DFW,17:51:00,17:57:00,6.0,18.0,18:15:00,19:43:00,10.0,19:52:00,19:53:00,1.0,0.0,0,0.0,181.0,176.0,148.0,936.0
7213443,2018-12-31,AA,American Airlines Inc.,1817,CLT,MEM,20:15:00,20:10:00,-5.0,36.0,20:46:00,21:14:00,4.0,21:07:00,21:18:00,11.0,0.0,0,0.0,112.0,128.0,88.0,511.0
7213444,2018-12-31,AA,American Airlines Inc.,1818,CLT,RDU,13:00:00,13:23:00,23.0,11.0,13:34:00,14:00:00,4.0,13:50:00,14:04:00,14.0,0.0,0,0.0,50.0,41.0,26.0,130.0
7213445,2018-12-31,AA,American Airlines Inc.,1818,RDU,CLT,14:35:00,14:43:00,8.0,8.0,14:51:00,15:35:00,7.0,15:46:00,15:42:00,-4.0,0.0,0,0.0,71.0,59.0,44.0,130.0

### Merge flights_airlines with origin airport data

Before merging, a copy of the airports dataframe is created to represent the data of the origin airports. This will be the dataframe that will be merged

In [24]:
origin_airports = airports.copy()
origin_airports = origin_airports.rename(columns={'airport_iata_code':'origin_airport_iata_code','airport':'origin_airport',
                                                  'city':'origin_city', 'state':'origin_state','country':'origin_country',
                                                  'latitude':'origin_latitude', 'longitude':'origin_longitude'})

After merging the dataframes, the second column with duplicated values is dropped, and the order of the columns is altered so that the origin airport data is next to the origin column (origin airport code)

In [25]:
ori_airport = pd.merge(flights_airlines, origin_airports, how='left', left_on='origin', right_on='origin_airport_iata_code')
ori_airport.drop('origin_airport_iata_code', axis=1, inplace=True)
cols2 = ['fl_date', 'op_carrier', 'airline', 'op_carrier_fl_num', 'origin', 'origin_airport', 'origin_city', 'origin_state', 
         'origin_country', 'origin_latitude', 'origin_longitude', 'dest', 'crs_dep_time', 'dep_time', 'dep_delay', 'taxi_out', 
        'wheels_off', 'wheels_on', 'taxi_in', 'crs_arr_time', 'arr_time', 'arr_delay', 'cancelled', 'cancellation_code', 
        'diverted', 'crs_elapsed_time', 'actual_elapsed_time', 'air_time', 'distance']
ori_airport = ori_airport[cols2]
ori_airport

,fl_date,op_carrier,airline,op_carrier_fl_num,origin,origin_airport,origin_city,origin_state,origin_country,origin_latitude,origin_longitude,dest,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,cancellation_code,diverted,crs_elapsed_time,actual_elapsed_time,air_time,distance
0,2018-01-01,UA,United Air Lines Inc.,2429,EWR,Newark Liberty International Airport,Newark,NJ,USA,40.69250,-74.16866,DEN,15:17:00,15:12:00,-5.0,15.0,15:27:00,17:12:00,10.0,17:45:00,17:22:00,-23.0,0.0,0,0.0,268.0,250.0,225.0,1605.0
1,2018-01-01,UA,United Air Lines Inc.,2427,LAS,McCarran International Airport,Las Vegas,NV,USA,36.08036,-115.15233,SFO,11:15:00,11:07:00,-8.0,11.0,11:18:00,12:23:00,7.0,12:54:00,12:30:00,-24.0,0.0,0,0.0,99.0,83.0,65.0,414.0
2,2018-01-01,UA,United Air Lines Inc.,2426,SNA,John Wayne Airport (Orange County Airport),Santa Ana,CA,USA,33.67566,-117.86822,DEN,13:35:00,13:30:00,-5.0,15.0,13:45:00,16:31:00,5.0,16:49:00,16:36:00,-13.0,0.0,0,0.0,134.0,126.0,106.0,846.0
3,2018-01-01,UA,United Air Lines Inc.,2425,RSW,Southwest Florida International Airport,Ft. Myers,FL,USA,26.53617,-81.75517,ORD,15:46:00,15:52:00,6.0,19.0,16:11:00,17:48:00,6.0,17:56:00,17:54:00,-2.0,0.0,0,0.0,190.0,182.0,157.0,1120.0
4,2018-01-01,UA,United Air Lines Inc.,2424,ORD,Chicago O'Hare International Airport,Chicago,IL,USA,41.97960,-87.90446,ALB,06:30:00,06:50:00,20.0,13.0,07:03:00,09:26:00,10.0,09:22:00,09:36:00,14.0,0.0,0,0.0,112.0,106.0,83.0,723.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7213441,2018-12-31,AA,American Airlines Inc.,1815,DCA,Ronald Reagan Washington National Airport,Arlington,VA,USA,38.85208,-77.03772,CLT,15:34:00,15:30:00,-4.0,20.0,15:50:00,17:02:00,7.0,17:14:00,17:09:00,-5.0,0.0,0,0.0,100.0,99.0,72.0,331.0
7213442,2018-12-31,AA,American Airlines Inc.,1816,CLT,Charlotte Douglas International Airport,Charlotte,NC,USA,35.21401,-80.94313,DFW,17:51:00,17:57:00,6.0,18.0,18:15:00,19:43:00,10.0,19:52:00,19:53:00,1.0,0.0,0,0.0,181.0,176.0,148.0,936.0
7213443,2018-12-31,AA,American Airlines Inc.,1817,CLT,Charlotte Douglas International Airport,Charlotte,NC,USA,35.21401,-80.94313,MEM,20:15:00,20:10:00,-5.0,36.0,20:46:00,21:14:00,4.0,21:07:00,21:18:00,11.0,0.0,0,0.0,112.0,128.0,88.0,511.0
7213444,2018-12-31,AA,American Airlines Inc.,1818,CLT,Charlotte Douglas International Airport,Charlotte,NC,USA,35.21401,-80.94313,RDU,13:00:00,13:23:00,23.0,11.0,13:34:00,14:00:00,4.0,13:50:00,14:04:00,14.0,0.0,0,0.0,50.0,41.0,26.0,130.0
7213445,2018-12-31,AA,American Airlines Inc.,1818,RDU,Raleigh-Durham International Airport,Raleigh,NC,USA,35.87764,-78.78747,CLT,14:35:00,14:43:00,8.0,8.0,14:51:00,15:35:00,7.0,15:46:00,15:42:00,-4.0,0.0,0,0.0,71.0,59.0,44.0,130.0

### Final dataframe: merge ori_airport with destination airport data

Before merging, a copy of the airports dataframe is created to represent the data of the destination airports. This will be the dataframe that will be merged

In [26]:
destination_airports = airports.copy()
destination_airports = destination_airports.rename(columns={'airport_iata_code':'dest_airport_iata_code',
                                                            'airport':'dest_airport','city':'dest_city','state':'dest_state',
                                                            'country':'dest_country','latitude':'dest_latitude',
                                                            'longitude':'dest_longitude'})

After merging the dataframes, the second column with duplicated values is dropped, and the order of the columns is altered so that the destination airport data is next to the dest column (destination airport code)

In [27]:
flight_delays_cancellations = pd.merge(ori_airport, destination_airports, how='left', left_on='dest', right_on='dest_airport_iata_code')
flight_delays_cancellations.drop('dest_airport_iata_code', axis=1, inplace=True)
cols2 = ['fl_date', 'op_carrier', 'airline', 'op_carrier_fl_num', 'origin', 'origin_airport', 'origin_city', 'origin_state', 
         'origin_country', 'origin_latitude', 'origin_longitude', 'dest', 'dest_airport', 'dest_city', 'dest_state', 
         'dest_country', 'dest_latitude', 'dest_longitude','crs_dep_time', 'dep_time', 'dep_delay', 'taxi_out', 
        'wheels_off', 'wheels_on', 'taxi_in', 'crs_arr_time', 'arr_time', 'arr_delay', 'cancelled', 'cancellation_code', 
        'diverted', 'crs_elapsed_time', 'actual_elapsed_time', 'air_time', 'distance']
flight_delays_cancellations = flight_delays_cancellations[cols2]
flight_delays_cancellations

,fl_date,op_carrier,airline,op_carrier_fl_num,origin,origin_airport,origin_city,origin_state,origin_country,origin_latitude,origin_longitude,dest,dest_airport,dest_city,dest_state,dest_country,dest_latitude,dest_longitude,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,cancellation_code,diverted,crs_elapsed_time,actual_elapsed_time,air_time,distance
0,2018-01-01,UA,United Air Lines Inc.,2429,EWR,Newark Liberty International Airport,Newark,NJ,USA,40.69250,-74.16866,DEN,Denver International Airport,Denver,CO,USA,39.85841,-104.66700,15:17:00,15:12:00,-5.0,15.0,15:27:00,17:12:00,10.0,17:45:00,17:22:00,-23.0,0.0,0,0.0,268.0,250.0,225.0,1605.0
1,2018-01-01,UA,United Air Lines Inc.,2427,LAS,McCarran International Airport,Las Vegas,NV,USA,36.08036,-115.15233,SFO,San Francisco International Airport,San Francisco,CA,USA,37.61900,-122.37484,11:15:00,11:07:00,-8.0,11.0,11:18:00,12:23:00,7.0,12:54:00,12:30:00,-24.0,0.0,0,0.0,99.0,83.0,65.0,414.0
2,2018-01-01,UA,United Air Lines Inc.,2426,SNA,John Wayne Airport (Orange County Airport),Santa Ana,CA,USA,33.67566,-117.86822,DEN,Denver International Airport,Denver,CO,USA,39.85841,-104.66700,13:35:00,13:30:00,-5.0,15.0,13:45:00,16:31:00,5.0,16:49:00,16:36:00,-13.0,0.0,0,0.0,134.0,126.0,106.0,846.0
3,2018-01-01,UA,United Air Lines Inc.,2425,RSW,Southwest Florida International Airport,Ft. Myers,FL,USA,26.53617,-81.75517,ORD,Chicago O'Hare International Airport,Chicago,IL,USA,41.97960,-87.90446,15:46:00,15:52:00,6.0,19.0,16:11:00,17:48:00,6.0,17:56:00,17:54:00,-2.0,0.0,0,0.0,190.0,182.0,157.0,1120.0
4,2018-01-01,UA,United Air Lines Inc.,2424,ORD,Chicago O'Hare International Airport,Chicago,IL,USA,41.97960,-87.90446,ALB,Albany International Airport,Albany,NY,USA,42.74812,-73.80298,06:30:00,06:50:00,20.0,13.0,07:03:00,09:26:00,10.0,09:22:00,09:36:00,14.0,0.0,0,0.0,112.0,106.0,83.0,723.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7213441,2018-12-31,AA,American Airlines Inc.,1815,DCA,Ronald Reagan Washington National Airport,Arlington,VA,USA,38.85208,-77.03772,CLT,Charlotte Douglas International Airport,Charlotte,NC,USA,35.21401,-80.94313,15:34:00,15:30:00,-4.0,20.0,15:50:00,17:02:00,7.0,17:14:00,17:09:00,-5.0,0.0,0,0.0,100.0,99.0,72.0,331.0
7213442,2018-12-31,AA,American Airlines Inc.,1816,CLT,Charlotte Douglas International Airport,Charlotte,NC,USA,35.21401,-80.94313,DFW,Dallas/Fort Worth International Airport,Dallas-Fort Worth,TX,USA,32.89595,-97.03720,17:51:00,17:57:00,6.0,18.0,18:15:00,19:43:00,10.0,19:52:00,19:53:00,1.0,0.0,0,0.0,181.0,176.0,148.0,936.0
7213443,2018-12-31,AA,American Airlines Inc.,1817,CLT,Charlotte Douglas International Airport,Charlotte,NC,USA,35.21401,-80.94313,MEM,Memphis International Airport,Memphis,TN,USA,35.04242,-89.97667,20:15:00,20:10:00,-5.0,36.0,20:46:00,21:14:00,4.0,21:07:00,21:18:00,11.0,0.0,0,0.0,112.0,128.0,88.0,511.0
7213444,2018-12-31,AA,American Airlines Inc.,1818,CLT,Charlotte Douglas International Airport,Charlotte,NC,USA,35.21401,-80.94313,RDU,Raleigh-Durham International Airport,Raleigh,NC,USA,35.87764,-78.78747,13:00:00,13:23:00,23.0,11.0,13:34:00,14:00:00,4.0,13:50:00,14:04:00,14.0,0.0,0,0.0,50.0,41.0,26.0,130.0
7213445,2018-12-31,AA,American Airlines Inc.,1818,RDU,Raleigh-Durham International Airport,Raleigh,NC,USA,35.87764,-78.78747,CLT,Charlotte Douglas International Airport,Charlotte,NC,USA,35.21401,-80.94313,14:35:00,14:43:00,8.0,8.0,14:51:00,15:35:00,7.0,15:46:00,15:42:00,-4.0,0.0,0,0.0,71.0,59.0,44.0,130.0

The final dataframe contains the following information:
 - Flight date
 - Airline data
 - Origin and destination airport data
 - Departure time and delay data
 - Arrival time and delay data
 - Cancellation data

### Save clean dataset to csv

In [28]:
flight_delays_cancellations.to_csv(config["data"]["clean1"],index=False)